<div class="about-main-section">
  <img class="about-image" src="./../../../assets/images/about-image.JPG" />
  <div class="about-title pt-4">
    ABOUT
  </div>
  <div class="about-text pt-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue angue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Nam purus est, placerat sed ante vel, ultrices congue angue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
</div>

